body {
    margin: 0 25%;
}
 .vertical-menu a {
   background-color: black;
   color: white  ;
   display: block;
   padding: 12px;
   text-decoration: none;
 }
 
 .vertical-menu a:hover {
   background-color:#00bfbf;
 }
 

 .title-header-color{
    color: #00bfbf;
    text-align: center;
    font-size: 32px;
 }

.menu{
    position: fixed;
    right: 0;
 }
.profile {
    text-align: center;
    color: #eeac1e;
    font-size: 60px;
}

.student {
    text-align: center;
    margin-top: -40px;
    font-size: 20px;   
}

.para{
    font-size: 18px;
}
.information{
    color: #eeac1e;
    font-size: 30px;
}

.details{
    color: #eeac1e;
    font-size: 30px;
    margin-top: 85px;
}
.container {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.img {
    width: 45%;
    height: 35%;
    margin-left: 135px;
}

.container1{
    width: 100%;
    height: 60%;
    background-color: #F3EFE0;
    padding: 32px;
}

.exper {
    text-align: center;
    font-size: 30px;
    color: #eeac1e;
}

.education {
    margin-left: 15px;
}

.edu{
    color: #eeac1e;
}

.ISs{
    margin-left: 400px;
    margin-top: -75px;
}

hr {
    width: 90%;
}

.text{
    font-size: 20px;
}

.Abilities{
    text-align: center;
    font-size: 30px;
    color: #eeac1e;
}

.skills{
    color: #eeac1e;
    font-size: 30px;
    margin-left: 50px;
}

.line{
    display: flex;
    align-items: center;  /* chieu doc */
    justify-content: space-between;  /* chieu ngang */
}

.active{
    color: #eeac1e;
}

.button{
    background-color: #22A3A0;
    height: 50px;
    width: 200px;
}
.github {
    text-align: center;
    margin: 20px;
}

button {
    display: block;
    margin: 16px auto;
    font-size: 18px;
    padding: 6px;
    color: #fff;
    background-color:#22a3a0;
    border: none;
    border-radius: 5px;
 }
 
 button:hover {
    cursor: pointer;
    opacity: .8;
 }